<template>
  <div>
    <div class="q-px-lg q-pt-lg gt-xs">
      <div
        class="flex justifty-start itempt-center onboarding-text-accent-0 q-mt-sm q-mb-lg z gt-xs"
      >
        <q-btn @click="$router.go(-1)" round dense flat icon="arrow_back" />
        <h5 class="text-26 text-semibold q-my-none q-ml-sm">Add Task Task</h5>
      </div>
    </div>
  </div>
  <div class="parent">
    <div class="child">
      <div class="col-4">
        <div class="title">
          <div class="text-14">Task Title <strong>*</strong></div>
          <label
            class="task-title q-field row no-wrap items-start q-field--borderless q-input q-field--dense onboarding-input-field standard onboarding-border-accent-0 onboarding-border-radius-10"
            for="f_cbb19905-d1e8-4c60-ae16-404872b2214b"
            ><!---->
            <div class="q-field__inner relative-position col self-stretch">
              <div
                class="q-field__control relative-position row no-wrap"
                tabindex="-1"
              >
                <div
                  class="q-field__control-container col relative-position row no-wrap q-anchor--skip"
                >
                  <input
                    class="q-field__native q-placeholder"
                    tabindex="0"
                    placeholder="Task Name"
                    id="f_cbb19905-d1e8-4c60-ae16-404872b2214b"
                    type="text"
                  /><!---->
                </div>
              </div>
              <!---->
            </div>
            <!----></label
          >
        </div>
        <div>
          <div
            class="task-card onboarding-border-accent-0 onboarding-border-radius-15 q-px-md q-py-lg q-mt-md standard-form-width"
          >
            <div class="field">
              <div class="flex justify-between items-center">
                <div
                  class="text-14 q-item__label label key_result text-weight-bold q-mb-sm"
                >
                  Task Name: <strong>*</strong>
                </div>
                <div>
                  <button
                    class="q-btn q-btn-item non-selectable no-outline q-btn--flat q-btn--rectangle q-btn--actionable q-focusable q-hoverable delete_button onboarding-buttontext-grey q-pa-none"
                    tabindex="0"
                    type="button"
                    style="font-size: 10px"
                  >
                    <span class="q-focus-helper"></span
                    ><span
                      class="q-btn__content text-center col items-center q-anchor--skip justify-center row"
                      ><i
                        class="q-icon iconfont icon-delete-fill"
                        aria-hidden="true"
                        role="img"
                      >
                      </i
                    ></span>
                  </button>
                </div>
              </div>
              <label
                class="q-field row no-wrap items-start q-field--borderless q-input q-field--dense onboarding-input-field onboarding-border-accent-0 onboarding-border-radius-10"
                for="f_acb99613-d3fe-4b3a-abf9-db62d423e8b4"
                ><!---->
                <div class="q-field__inner relative-position col self-stretch">
                  <div
                    class="q-field__control relative-position row no-wrap"
                    tabindex="-1"
                  >
                    <div
                      class="q-field__control-container col relative-position row no-wrap q-anchor--skip"
                    >
                      <input
                        class="q-field__native q-placeholder"
                        tabindex="0"
                        placeholder="Lorem ipsum dolor sit amet..."
                        id="f_acb99613-d3fe-4b3a-abf9-db62d423e8b4"
                        type="text"
                      /><!---->
                    </div>
                  </div>
                  <!---->
                </div>
                <!----></label
              >
            </div>
            <div class="q-mt-md">
              <div class="text-14 q-item__label label text-weight-bold q-mb-sm">
                Time
              </div>
              <label
                class="q-field row no-wrap items-start q-field--borderless q-input q-field--dense onboarding-input-field onboarding-border-accent-0 onboarding-border-radius-10"
                for="f_acb99613-d3fe-4b3a-abf9-db62d423e8b4"
                ><!---->
                <div class="q-field__inner relative-position col self-stretch">
                  <div
                    class="q-field__control relative-position row no-wrap"
                    tabindex="-1"
                  >
                    <div
                      class="q-field__control-container col relative-position row no-wrap q-anchor--skip"
                    >
                      <input
                        class="q-field__native q-placeholder"
                        tabindex="0"
                        placeholder="00:00"
                        id="f_acb99613-d3fe-4b3a-abf9-db62d423e8b4"
                        type="text"
                      /><!---->
                    </div>
                  </div>
                  <!---->
                </div>
                <!----></label
              >
            </div>
          </div>
        </div>

        <!-- Clock -->
        <div class="q-py-md"></div>

        <q-time v-model="time" readonly color="blue" />

        <div class="q-py-md"></div>
        <!-- Clock End -->

        <div
          class="add-task onboarding-border-radius-15 flex justify-center standard-form-width q-my-sm q-pa-md"
          style="border: 1px dashed rgb(134, 154, 178)"
        >
          <button
            class="q-btn q-btn-item non-selectable no-outline q-btn--flat q-btn--round q-btn--actionable q-focusable q-hoverable q-btn--no-uppercase onboarding-bg-accent-0 text-white onboarding-text-accent-1"
            tabindex="0"
            type="button"
            id="generateKeyInput"
          >
            <span class="q-focus-helper" tabindex="-1"></span
            ><span
              class="q-btn__content text-center col items-center q-anchor--skip justify-center row"
              ><i
                class="q-icon notranslate material-icons"
                aria-hidden="true"
                role="img"
                >add</i
              ></span
            >
          </button>
        </div>
        <div class="q-py-md"></div>
        <div class="row">
          <div class="col-6">
            <q-btn rounded dense flat no-caps label="Cancel" class="q-px-xl" />
            <q-btn
              rounded
              dense
              flat
              no-caps
              label="Save"
              class="onboarding-border-accent-0 text-white onboarding-bg-accent-0 q-px-xl"
            />
          </div>
          <div class="col-4"></div>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>
</template>

<script>
import { ref } from "vue";

export default {
  setup() {
    return {
      time: ref("10:56"),
    };
  },
};
</script>

<style>
strong {
  color: red;
}

.task-card,
.title .task-title,
.add-task,
q-time {
  width: 400px;
}

.parent {
  padding: 0 24px 0 24px;
  height: calc(85vh - 80px);
  overflow: auto;
}

.parent::-webkit-scrollbar {
  width: 0;
}

@media (max-width: 1920px) {
  .parent {
    height: calc(100 - 80px);
  }
}

@media (max-width: 1440px) {
  .parent {
    height: calc(85vh - 80px);
  }
}
</style>
