<template>
  <div class="q-px-lg q-pt-lg gt-xs">
    <div class="flex justify-between q-mt-sm q-mb-lg">
      <h5 class="text-26 text-semibold q-my-none onboarding-text-accent-0">
        To-Do List
      </h5>
      <div class="flex justify-end">
        <Filters
          dynamicHeight="34"
          :labelVisible="false"
          :searchVisible="true"
          :filterDateVisible="false"
          pathEndPoint="todotask"
        />
        <q-btn
          flat
          rounded
          no-caps
          dense
          class="onboarding-border-accent-0 onboarding-bg-accent-0 text-white q-px-xl q-ml-md"
          to="add-new-task"
          label="Create a new task"
        />
      </div>
    </div>
    <!-- Filter and Pagination -->
    <div class="flex justify-between q-mb-md gt-xs">
      <div>
        <div class="filters-component">
          <div class="flex items-center">
            <div class="text-14 onboarding-text-accent-1 q-mr-md">Filters:</div>
            <div class="flex justify-end">
              <div class="filters-component">
                <div class="">
                  <!--v-if-->
                  <div class="flex justify-end">
                    <!--v-if--><label
                      class="q-field row no-wrap items-start q-field--borderless q-input q-field--dense minmax-width-190 onboarding-border-radius-50 onboarding-border-accent-0 onboarding-input-field height-34 use-input q-px-md false"
                      for="f_b38cffdc-58dd-4d76-bd3f-ddbd1dbe41e9"
                      ><!---->
                      <div
                        class="q-field__inner relative-position col self-stretch"
                      >
                        <div
                          class="q-field__control relative-position row no-wrap"
                          tabindex="-1"
                        >
                          <div
                            class="q-field__control-container col relative-position row no-wrap q-anchor--skip"
                          >
                            <input
                              class="q-field__native q-placeholder"
                              tabindex="0"
                              placeholder="Search"
                              id="f_b38cffdc-58dd-4d76-bd3f-ddbd1dbe41e9"
                              type="text"
                            /><!---->
                          </div>
                          <div
                            class="q-field__append q-field__marginal row no-wrap items-center"
                          >
                            <!--v-if--><i
                              class="q-icon notranslate material-icons onboarding-text-accent-0 cursor-pointer disabled"
                              aria-hidden="true"
                              role="presentation"
                              >search</i
                            >
                          </div>
                        </div>
                        <!---->
                      </div>
                      <!----></label
                    ><!--v-if-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Todo List Part -->

  <div class="q-pa-md example-row-equal-width">
    <div class="row">
      <div class="col q-pa-sm">
        <div class="parent-in-process">
          <div class="child">
            <div
              class="in-process text-15 text-semibold text-white q-px-xs q-pt-xs gt-xs text-center onboarding-bg-accent-0 onboarding-border-top-side"
              style="display: inline-block; padding: 5px 25px 5px 25px"
            >
              In-Process
            </div>
            <div
              class="col q-pa-md onboarding-border-accent-0 onboarding-border-task-list onboarding-border-radius-10 inprogress"
            >
              <q-expansion-item expand-separator label="To-Do List">
                <template v-slot:header="{ expanded }">
                  <q-item-section
                    v-if="!expanded"
                    class="onboarding-text-accent-0 text-semibold"
                  >
                    Task Name
                  </q-item-section>
                  <q-item-section
                    v-if="!expanded"
                    side
                    class="onboarding-text-accent-0 text-semibold"
                  >
                    January 0, 2024
                  </q-item-section>
                  <q-item-section
                    v-else
                    class="onboarding-text-accent-0 text-semibold"
                  >
                    To-Do List
                  </q-item-section>
                  <q-item-section v-if="expanded" side>
                    <q-icon name="more_horiz" />
                  </q-item-section>
                </template>
                <q-card>
                  <q-card-section class="q-pa-none">
                    <div class="col">
                      <q-list>
                        <!-- Loop through tasks -->
                        <q-item
                          v-for="(task, index) in taskData"
                          :key="index"
                          class="q-py-none"
                        >
                          <q-item-section>
                            <q-checkbox
                              v-model="task.checked"
                              color="blue"
                              :label="task.label"
                            />
                          </q-item-section>
                          <q-item-section>{{ task.time }}</q-item-section>
                        </q-item>
                      </q-list>
                    </div>
                    <div
                      class="text-right q-pt-xl onboarding-text-accent-0 text-semibold"
                    >
                      January 0, 2024
                    </div>
                  </q-card-section>
                </q-card>
              </q-expansion-item>
            </div>
          </div>

          <div class="child">
            <div
              class="col q-pa-md onboarding-border-accent-0 onboarding-border-radius-10 inprogress"
            >
              <q-expansion-item expand-separator label="To-Do List">
                <template v-slot:header="{ expanded }">
                  <q-item-section
                    v-if="!expanded"
                    class="onboarding-text-accent-0 text-semibold"
                  >
                    Task Name
                  </q-item-section>
                  <q-item-section
                    v-if="!expanded"
                    side
                    class="onboarding-text-accent-0 text-semibold"
                  >
                    January 0, 2024
                  </q-item-section>
                  <q-item-section
                    v-else
                    class="onboarding-text-accent-0 text-semibold"
                  >
                    To-Do List
                  </q-item-section>
                  <q-item-section v-if="expanded" side>
                    <q-icon name="more_horiz" />
                  </q-item-section>
                </template>
                <q-card>
                  <q-card-section class="q-pa-none">
                    <div class="col">
                      <q-list>
                        <!-- Loop through tasks -->
                        <q-item
                          v-for="(task, index) in taskData"
                          :key="index"
                          class="q-py-none"
                        >
                          <q-item-section>
                            <q-checkbox
                              v-model="task.checked"
                              color="blue"
                              :label="task.label"
                            />
                          </q-item-section>
                          <q-item-section>{{ task.time }}</q-item-section>
                        </q-item>
                      </q-list>
                    </div>
                    <div
                      class="text-right q-pt-xl onboarding-text-accent-0 text-semibold"
                    >
                      January 0, 2024
                    </div>
                  </q-card-section>
                </q-card>
              </q-expansion-item>
            </div>
          </div>

          <div class="child">
            <div
              class="col q-pa-md onboarding-border-accent-0 onboarding-border-radius-10 inprogress"
            >
              <q-expansion-item expand-separator label="To-Do List">
                <template v-slot:header="{ expanded }">
                  <q-item-section
                    v-if="!expanded"
                    class="onboarding-text-accent-0 text-semibold"
                  >
                    Task Name
                  </q-item-section>
                  <q-item-section
                    v-if="!expanded"
                    side
                    class="onboarding-text-accent-0 text-semibold"
                  >
                    January 0, 2024
                  </q-item-section>
                  <q-item-section
                    v-else
                    class="onboarding-text-accent-0 text-semibold"
                  >
                    To-Do List
                  </q-item-section>
                  <q-item-section v-if="expanded" side>
                    <q-icon name="more_horiz" />
                  </q-item-section>
                </template>
                <q-card>
                  <q-card-section class="q-pa-none">
                    <div class="col">
                      <q-list>
                        <!-- Loop through tasks -->
                        <q-item
                          v-for="(task, index) in taskData"
                          :key="index"
                          class="q-py-none"
                        >
                          <q-item-section>
                            <q-checkbox
                              v-model="task.checked"
                              color="blue"
                              :label="task.label"
                            />
                          </q-item-section>
                          <q-item-section>{{ task.time }}</q-item-section>
                        </q-item>
                      </q-list>
                    </div>
                    <div
                      class="text-right q-pt-xl onboarding-text-accent-0 text-semibold"
                    >
                      January 0, 2024
                    </div>
                  </q-card-section>
                </q-card>
              </q-expansion-item>
            </div>
          </div>
        </div>
      </div>

      <div class="col q-pa-sm">
        <div class="parent-done">
          <div class="child">
            <div
              class="done text-15 text-semibold text-white q-px-xs q-pt-xs gt-xs text-center onboarding-bg-accent-0 onboarding-border-top-side"
              style="display: inline-block; padding: 5px 25px 5px 25px"
            >
              Done
            </div>

            <div
              class="col q-pa-md onboarding-border-accent-0 onboarding-border-task-list onboarding-border-radius-10 inprogress"
            >
              <q-expansion-item expand-separator label="To-Do List">
                <template v-slot:header="{ expanded }">
                  <q-item-section
                    v-if="!expanded"
                    class="onboarding-text-accent-0 text-semibold"
                  >
                    Task Name
                  </q-item-section>
                  <q-item-section
                    v-if="!expanded"
                    side
                    class="onboarding-text-accent-0 text-semibold"
                  >
                    January 0, 2024
                  </q-item-section>
                  <q-item-section
                    v-else
                    class="onboarding-text-accent-0 text-semibold"
                  >
                    To-Do List
                  </q-item-section>
                  <q-item-section v-if="expanded" side>
                    <q-icon name="more_horiz" />
                  </q-item-section>
                </template>
                <q-card>
                  <q-card-section class="q-pa-none">
                    <div class="col">
                      <q-list>
                        <!-- Loop through tasks -->
                        <q-item
                          v-for="(task, index) in taskData"
                          :key="index"
                          class="q-py-none"
                        >
                          <q-item-section>
                            <q-checkbox
                              v-model="task.checked"
                              color="blue"
                              :label="task.label"
                            />
                          </q-item-section>
                          <q-item-section>{{ task.time }}</q-item-section>
                        </q-item>
                      </q-list>
                    </div>
                    <div
                      class="text-right q-pt-xl onboarding-text-accent-0 text-semibold"
                    >
                      January 0, 2024
                    </div>
                  </q-card-section>
                </q-card>
              </q-expansion-item>
            </div>
          </div>

          <div class="child">
            <div
              class="col q-pa-md onboarding-border-accent-0 onboarding-border-radius-10 inprogress"
            >
              <q-expansion-item expand-separator label="To-Do List">
                <template v-slot:header="{ expanded }">
                  <q-item-section
                    v-if="!expanded"
                    class="onboarding-text-accent-0 text-semibold"
                  >
                    Task Name
                  </q-item-section>
                  <q-item-section
                    v-if="!expanded"
                    side
                    class="onboarding-text-accent-0 text-semibold"
                  >
                    January 0, 2024
                  </q-item-section>
                  <q-item-section
                    v-else
                    class="onboarding-text-accent-0 text-semibold"
                  >
                    To-Do List
                  </q-item-section>
                  <q-item-section v-if="expanded" side>
                    <q-icon name="more_horiz" />
                  </q-item-section>
                </template>
                <q-card>
                  <q-card-section class="q-pa-none">
                    <div class="col">
                      <q-list>
                        <!-- Loop through tasks -->
                        <q-item
                          v-for="(task, index) in taskData"
                          :key="index"
                          class="q-py-none"
                        >
                          <q-item-section>
                            <q-checkbox
                              v-model="task.checked"
                              color="blue"
                              :label="task.label"
                            />
                          </q-item-section>
                          <q-item-section>{{ task.time }}</q-item-section>
                        </q-item>
                      </q-list>
                    </div>
                    <div
                      class="text-right q-pt-xl onboarding-text-accent-0 text-semibold"
                    >
                      January 0, 2024
                    </div>
                  </q-card-section>
                </q-card>
              </q-expansion-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      taskData: [
        { label: "Task 1", time: "10:00 AM", checked: false },
        { label: "Task 2", time: "11:00 AM", checked: true },
        { label: "Task 3", time: "12:00 PM", checked: false },
        { label: "Task 4", time: "01:00 PM", checked: true },
        { label: "Task 5", time: "02:00 PM", checked: false },
      ],
    };
  },
};
</script>

<style scoped>
.parent-in-process,
.parent-done {
  height: calc(75vh - 80px);
  overflow: auto;
}

.parent-in-process .child,
.parent-done .child {
  padding-bottom: 15px;
}

.parent-in-process::-webkit-scrollbar {
  width: 0;
}
.parent-done::-webkit-scrollbar {
  width: 0;
}

@media (max-width: 1920px) {
  .parent-in-process,
  .parent-done {
    height: calc(80vh - 80px);
  }
}

@media (max-width: 1440px) {
  .parent-in-process,
  .parent-done {
    height: calc(75vh - 80px);
  }
}
</style>
